<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
   <dict>
      <key>compileBitcode</key>
      <false/>
      <key>teamID</key>
      <string>G5DZ9ZAT46</string>
      <key>method</key>
      <string>enterprise</string>
      <key>uploadSymbols</key>
      <false/>
      <key>uploadBitcode</key>
      <false/>
   </dict>
</plist>
